@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 57px;
}

body {
    font-family: 'PT Serif', serif;
}

header {
    background-image: url("pics/download\ \(5\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    top: 0px;
    z-index: 100;
    padding: 50px;
}

#siya {
    font-family: serif;
    font-size: 7rem;
    color: #ffffff;
    text-shadow: 5px 5px 5px rgb(169, 169, 169);
    box-shadow: 0 0 1rem rgb(169, 169, 169);
    animation:name 10s infinite;
    border-radius: 10px;
}

.container {
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    background-color: #f3eaeb;
    font-size: 1.5rem;
    padding: 10px;
    
    box-shadow: 0 0 5px black;
    width: 100%;
    background-image: linear-gradient(180deg, #f3eaeb, #696969);
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
   
nav a {
    padding: 0 30px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 3px 4px black;
}
  
nav a:hover {
    color: #fb6d73;
}

#welcome {
    background-image: url("pics/eto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-f {
    border: 10px solid #c6989b;
    margin: 12% 0;
}

#st-f {
    width: 30%;
    height: 35%;
    bottom: 10;
    margin: 10% -10% 13% 10%;
}

#nd-f {
    width: 35%;
    height: 45%;
    margin: 10% -5% 23% 2%;
}

#rd-f {
    width: 25%;
    height: 55%;
    margin: 20% 0% 8% -3%;
}

.hamburger1 {
    height: 2.5rem;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}
  
.hamburger1 div {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 50px;
    height: 4px;
    margin-top: 7px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0.3rem black;
}
  
#toggle1 {
    display: none;
}
  
#toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
}
  
#toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
}
  
#toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
}
  
#toggle1:checked ~ .menu1 {
    height: 480px;
}

.p-menu1 {
    display: none;
}
  
.menu1 {
    background-color: #ffffff;
    margin: 20px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    transition: all 0.3s ease;
}
  
.menu1 a:first-child {
    margin-top: 40px;
  }
  
.menu1 a:last-child {
    margin-bottom: 40px;
  }
  
.link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    color: black;
    text-shadow: none;
}
  
.link1:hover {
    background-color: #bebebe;
    transition: all 0.3s ease;
}

.menu1 a p {
    margin: 5px 0 20px 0;
}

#poem {
    color: #3a3a3a;
    text-align: center;
    padding: 2rem 0;
}

.pics {
    width: 30%;
    height: 35%;
}

#title-poem {
    align-items: center;
    width: 10%;
}

#gallery {
    background-color: #e0e0e0;
    padding-bottom: 2rem;
}

.wrapper {
	width: 40%;
	margin: 40px auto;
}

.gallery ul {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

.gallery ul li, .gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.gallery ul li {
  position: relative;
  width: 300px;
  height: 200px;
  padding: 5px;
  z-index: 0;
}

div.gallery ul li:hover {
	z-index: 1;
}

div.gallery ul li img {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #dddddd;
  padding: 5px;
  width: 300px;
  height: 200px;
  background: rgba(240, 240, 240, 0.8);
  filter: brightness(20%);
  transition: all 0.3s ease-in-out;
  z-index: 4;
}

div.gallery ul li img:hover {
  filter: brightness(100%);
  background: transparent;
  width: 400px;
  height: 300px;
  margin-top: -150px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
}

#gallery, #flowers {
    text-align: center;
}

#title-gallery {
    margin: 20px 0;
    width: 10%;
    border: 1px solid #dddddd;
    padding: 5px;
    background: rgba(240, 240, 240, 0.8);
    filter: brightness(20%);
    animation: filterChange 2s infinite;
}

#title-flowers {
    margin: 20px 0;
    width: 10%;
    border: 1px solid #ff0000;
    border-radius: 50%;
}

#w-p {
    background-image: linear-gradient(#948e8e, #ffffff);
    padding: 4rem;
    border: none;
}

#p-g {
    background-image: linear-gradient( #ffffff, #e0e0e0);
    padding: 2rem;
    border: none;
}

#g-f {
    background-image: linear-gradient( #e0e0e0, #888888);
    padding: 2rem;
    border: none;
}

#n-w {
    background-image: linear-gradient(#161616, #928c8c);
    padding: 4rem;
    border: none;
}

#end {
    background-image: linear-gradient(#888888, #000000);
    padding: 6rem;
    border: none;
}

#flowers {
    background-color: #888888;
}

.lakbulak {
    max-width: 1200px;
    margin: 0 auto;
  }
  
#photos {
    margin: 0 4rem;
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}
  
#photos img {
    width: 100%;
    height: auto !important;
    margin-bottom: 10px;
}

@keyframes name {
    50% {color:#fb6d73;}
}

@keyframes filterChange {
    0%, 100% {
        filter: brightness(20%);
    }
    50% {
        filter: brightness(100%);
    }
}


@media only screen and (max-width: 1169px) {
    html {
    	scroll-padding-top: 10rem;
    }

    #siya {
	font-size: 7rem;
    }
	
    div.gallery ul {
	grid-template-columns: repeat(2, 1fr);
    }

    div.gallery ul li img {
        width: 280px;
        height: 180px;
    }
      
    div.gallery ul li img:hover {
        width: 380px;
        height: 280px;
    }

      .gallery ul {
        grid-gap: 3px;
    }

    nav {
        border: 1px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
    }

}

@media(max-width: 1024px) {
    .p-menu1 {
        display: flex;
    }

    .pc {
        display: none;
    }

    nav {
        padding: 0;
    }
    
}

@media(max-width: 768px) {
    .hamburger1 {
        height: 1.5rem;
        margin: 10px;
    }

    #poem {
        font-size: smaller;
    }

    .hamburger1 div {
        width: 40px;
        height: 4px;
        margin-top: 7px;
    }

    .welcome-f {
        border: 5px solid #c6989b;
    }

}

@media screen and (max-width: 600px) {
    div.gallery ul {
        grid-template-columns: repeat(1, 1fr);
    }

    div.gallery ul li {
        text-align: center;
    }

    div.gallery ul li img {
        width: 100%;
        height: auto;
        margin: 10px 0 0 -9px;
        transition: all 0.3s ease-in-out;
    }

    div.gallery ul li img:hover {
        transform: scale(0.7);
        border: 2px solid #666666;
        padding: 5px;
        background: rgba(240, 240, 240, 0.8);
    }

    div.gallery ul li {
        width: 250px;
    }
}

@media(max-width: 580px) {
    nav {
        font-size: small;
    }

    #toggle1:checked ~ .menu1 {
        height: 320px;
    }

    .hamburger1 {
        height: 1.5rem;
        margin: 0px;
    }

    .hamburger1 div {
        width: 35px;
        height: 3px;
    }

}

@media(max-width: 444px) {
    #poem {
        font-size: xx-small;
    }

    .welcome-f {
        border: 3px solid #c6989b;
    }

    #photos {
        margin: 0px 1rem;
        column-gap: 3px;
    }

    #photos img {
        margin-bottom: 3px;
    }

    #title-gallery, #title-flowers {
        width: 20%;
    }
    
}
