*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html{
    font-size:100%;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    -webkit-font-smoothing:antialiased;
    color:#333332;
    font-family:Lora, serif;
    font-size:18px;
    font-weight:400;
    line-height:1.4;
    text-rendering:optimizeLegibility;
    margin: 0;
    background-color: #f1f1f1;
}

h1{
    color:rgba(0,0,0,.75);
    font-size: 4rem;
}

.wrapper{
    height:100%;
    position: relative;
}

.left
{
    background-color:#ffffff;
    float:right;
    height:100%;
    margin: 50px 30px;
    min-width:256px;
    position:fixed;
    width:33.33%;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.288);
}

.right{
    float:right;
    height:100%;
    position:relative;
    width:62.66%;
    z-index: 1;
}

img {
    width: 100%;
}

.name-hero{
    background:rgba(0,0,0,.001);
    bottom:0;
    height:490px;
    left:0;
    margin:auto;
    position:absolute;
    right:0;
    top:0;
    width:85%;
}

.me-img{
    margin:0 auto;
    width:200px;
}
  
.name-hero h1{
    font-family:Open Sans, sans-serif;
    font-size:1.5em;
    text-align:center;
}
  
.name-hero h1 em{
    color:rgba(0, 0, 0, 0.5);
    font-style:normal;
    font-weight:700;
}
  
.name-hero p{
    color:rgba(0,0,0,.75);
    font-size:.75em;
    line-height:1.5;
    margin:0 8px 0 0;
    text-align:center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    margin: 50px 20px 20px 0;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.288);
}

.logo {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family:Lora, serif;
}

.menu-toggle {
    display: none;
}

.name-villain,.I-img,.name-context {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 4;
}

.menu-icon span {
    background-color: rgb(255, 255, 255);
    height: 3px;
    margin: 5px 0;
    display: block;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 10px;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15.5px 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

ul li a:hover,
ul li a.active {
    background-color: #2196f3;
    color: #ffffff;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.288);
    z-index: 3;
}

.show {
    display: flex;
}

.section {
    margin: 50px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.288);
}

.section p {
    text-align: start;
}

.hello {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.introduction {
    flex: 1;
}

.myself-img {
    flex: 0 0 auto;
}

#my-pic {
    max-width: 200px;
    height: auto;
    border-radius: 100%;
}

#qq {
    font-size: large;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;

}

#pp {
    text-align: start;
}

.level {
    border: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.288);
}

.level hr {
    border: 0;
    padding: 10px;
    margin: 5px 0;
}

.java hr {
    width: 30%;
    background-color: #ab47bc;
}

.python hr {
    width: 40%;
    background-color: #26a69a;
}

.html hr {
    width: 75%;
    background-color: #ef5350;
}

.css hr {
    width: 50%;
    background-color: #2196f3;
}

.circle-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.circle {
    text-align: center;
}

.skill-circle {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#2196f3 0, #2196f3 var(--percentage), lightgrey var(--percentage));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.skill-circle span {
    font-size: 18px;
    font-weight: bold;
}

.english {
    --percentage: 60%;
}

.filipino {
    --percentage: 100%;
}

.info {
    margin: 40px 0;
    padding: 30px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.082);
}

@media screen and (max-width: 1234px) {
    .right{
        float:none;
        position:relative !important;
        width:100%;
        min-height:500px;
    }

    .left {
        display: none;
    }

    #pp {
        margin: 0 15%;
    }

}

@media (max-width: 1024px) {
    .menu-icon {
        display: flex;
    }

    .top {
        display: none;
    }

    nav {
        position: fixed;
        left: -265px;
        width: 265px;
        height: 100%;
        background-color: #ffffff;
        overflow: hidden;
        transition: left 0.3s ease;
        flex-direction: column;
        display: flex;
    }

    .menu-icon span {
        background-color: black;
        margin-left: 10px;
    }

    .vl {
        border-left: 1px solid rgb(169, 169, 169);
        height: 30px;
    }

    header {
        margin: 0 0px 20px 0px;
    }

    .name-villain {
        display: flex;
    }

    .I-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 150px;
    }

    .name-context {
        display: inline;
    }

    img {
        border-radius: 100%;
    }

    h1 {
        font-size: medium;
        text-align: center;
        font-family:Open Sans, sans-serif;
    }

    .section h1 {
        font-size: 4rem;
        text-align: start;
        font-family:Open Sans, sans-serif;
    }

    .introduction p {
        text-align: start;
    }

    p {
        color: black;
        font-size: medium;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: left;
        margin: 0;
    }

    nav ul li a {
        display: block;
        padding: 15px 20px;
        font-size: medium;
    }

    .menu-toggle:checked + .menu-icon + nav {
        left: 0;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.288);
    }
    
    label {
        display: flex;
        flex-direction: column;
        width: 50px;
        cursor: pointer;
    }

    label span {
        background: #fff;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
        width: 35%;
    }

    span:nth-of-type(2) {
        width: 75%;
    }

    span:nth-of-type(3) {
        width: 40%;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked + label span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(-3.5px, 6px);
    }

    input[type="checkbox"]:checked + label span:nth-of-type(2) {
        transform-origin: top;
        transform: translate(-10px, 2px) rotatez(-45deg);
    }

    input[type="checkbox"]:checked + label span:nth-of-type(3) {
        transform-origin: bottom;
        width: 37%;
        transform: translate(7px, .5px) rotatez(45deg);
    }

    #pp {
        font-size: medium;
        margin: 0 10%;
    }

}

@media screen and (max-width: 768px) {
    .circle-container {
        flex-direction: column;
        align-items: center;
    }

    .circle {
        margin-bottom: 20px;
    }

    .skill-circle {
        width: 80px;
        height: 80px;
    }

    .skill-circle span {
        font-size: 14px;
    }

    #qq {
        font-size: medium;
    }
}

@media (max-width: 666px) { 
    .myself-img {
        display: none;
    }

    #pp {
        font-size: x-small;
        font-weight: bold;
    }

    #qq {
        font-size: small;
    }

    .section h1 {
        font-size: 3rem;
    }

    .section {
        margin: 50px 0px;
        padding: 50px 20px;
        box-shadow: none;
    }

    .introduction h2 {
        font-size: 1.5rem;
    }

}

@media (max-width: 555px) {
    .section h1 {
        font-size: 2rem;
    }

    .section p {
        font-size: small;
    }

    .level h4 {
        font-size: medium;
    }

}

@media screen and (max-width: 480px) {
    .circle-container {
        margin: 10px;
    }

    .skill-circle span {
        font-size: 12px;
    }

    #pp {
        font-size: 8px;
    }

    h3 {
        font-size: medium;
    }

    .level h4 {
        font-size: small;
    }

    .level hr {
        border: 0;
        padding: 5px 20px;
        margin: 5px 0;
    }
}

@media (max-width: 360px) {
    .menu-icon span {
        margin-left: 25px;
    }

    #pp {
        margin: 0 0;
    }
}
