body, h2, p{
    margin: 0;
    padding: 0;
}

.container {
    width: 6.9in;
    height: 11in;
    margin: 0 auto;
    padding: 1in;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px; border-style: solid;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.divider {
    border: none;
    border-top: 4px solid #000000;
    margin-top: 10px;
}

.header-left {
    text-align: left;
}